  //fontes
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
$font-family: 'Ubuntu', sans-serif;
$font-size: 16px;
  //cores
//neutral colors
$cool-gray: hsl(231, 11%, 63%); //x
$light-gray: hsl(229, 24%, 87%);
$magnolia: hsl(217, 100%, 97%); //xx
$alabaster: hsl(231, 100%, 99%); 
$white: hsl(0, 0%, 97%);
$lc-gray: hsl(0, 0%, 80%);
$dark-gray: hsl(0, 0%, 40%); //x
$beige: hsl(40, 20%, 90%);
//
$light-blue: hsl(206, 94%, 87%);